* {
  margin: 0;
  padding: 0;
  background-color: rgb(118, 111, 111);
  color: azure;
}

h1 {
  border: 2px solid rgb(239, 231, 231);
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: red;
  margin-left: 26rem;
  margin-top: 2rem;
}
.choices {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
}
.choice img {
  height: 200px;
  width: 200px;
  border-radius: 10rem;
  border: 10px solid blue;
}
.choice img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.you {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  /* border: 2px solid rgb(230, 237, 230); */
  width: fit-content;
  margin-left: 34rem;
  font-size: x-large;
}

#user-score,
#computer-score {
  background-color: brown;
  padding: 1rem;
}
.mxg-box {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.mxg-box p {
  border: 2px solid white;
  font-size: large;
  padding: 1rem;
}
